# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlartifacts/

# Python cache
.pytest_cache/

# Model temporary files
*.tmp

# Node
frontend/node_modules/
frontend/dist/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# MLflow local database
mlflow.db
*.db